<div class="container">
<br>
  <h1>Voitures louées</h1>
  <div class="bookings-grid">
    <% @bookings.each do |booking| %>
      <%= render "booking-card", booking: booking %>
    <% end %>
  </div>
</div>
